* {
  box-sizing: border-box;
}

a {
  color: white;
}

hr {
  width: 50%;
  margin: 0 auto;
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 89.4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.poem {
  text-align: center;
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.screen {
  min-height: 89.4vh;
}

.by {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  background-color: #282c34;
  border: 3px solid white;
  color: white;
  border-radius: 8px;
}

.button:hover {
  cursor: pointer;
}

.footer {
  border-top: 1px solid white;
  color: white;
  background-color: #2196f3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.signup {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 5px;
}

.container {
  display: flex;
  justify-content: center;
}

.loader {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
}

.logo:hover {
  cursor: pointer;
}

.choice {
  width: 33%;
  border: 1px solid #282c34;
  border-radius: 12px;
  padding: 12px;
}

.choice:hover {
  border: 1px solid white;
  cursor: pointer;
}

.title {
  padding: 12px;
}

.spacing {
  margin: 12px;
}

.prevLine {
  opacity: 60%;
}

.final {
  display: flex;
  flex-direction: column;
}